@font-face {
  font-family: 'custom';
  src: url('../fonts/Rajdhani-Regular.ttf');
}

* {
  font-family: 'custom';
}

body {
  background: rgb(44, 44, 44, 0.80);
  color: #333;
  margin: 0;
  padding: 20px;
}

#search-choice {
  display: flex;
  gap: 5px;
}

.container {
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #4a90e2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

#search-bar {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

.sort-buttons {
  margin-bottom: 10px;
  display: flex;
}

.sort-btn {
  padding: 10px 15px;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-btn:hover {
  background-color: #357ab7;
}

.rarity-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rarity-btn {
  padding: 10px 15px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.rarity-btn[data-rarity="common"],
.race-content[data-rarity="common"] {
  background-color: rgb(168, 168, 168);
}

.rarity-btn[data-rarity="un-common"],
.race-content[data-rarity="un-common"] {
  background-color: rgb(17, 148, 17);
}

.rarity-btn[data-rarity="rare"],
.race-content[data-rarity="rare"] {
  background-color: rgb(64, 123, 199);
}

.rarity-btn[data-rarity="epic"],
.race-content[data-rarity="epic"] {
  background-color: rgb(133, 0, 133);
}

.rarity-btn[data-rarity="legendary"],
.race-content[data-rarity="legendary"] {
  background-color: rgb(170, 107, 12);
}

.rarity-btn[data-rarity="mythical"],
.race-content[data-rarity="mythical"] {
  background-color: rgb(201, 35, 35);
}

.rarity-btn[data-rarity="all"] {
  background-color: rgb(44, 44, 44, 0.80);
}


.rarity-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#race-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#span-index {
  position: absolute;
  top: -6px;
  left: -6px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
  z-index: 10;
}

.race-card {
  position: relative;
  text-align: center;
  flex: 0 1 calc(25% - 20px);
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.race-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.race-image {
  width: 100%;
  height: 0;
  background-color: #e2e2e2;
  background-size: cover;
  background-position: center;
}

.race-content {
  padding: 15px;
  text-align: center;
  background-color: #f9f9f9;
}

.race-title {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.race-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.race-stats {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  color: #333;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  gap: 5px;
}

.race-stat {
  flex: 1;
  text-align: center;
  padding: 5px;
  background-color: #333;
  border-radius: 10px;
  color: #fff;

}

.stat-label {
  font-weight: bold;
  display: block;
}

#img-variant {
  width: 13%;
}

@media (max-width: 1200px) {
  .race-card {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (max-width: 630px) {
  .race-card {
    flex: 0 1 calc(100% - 20px);
  }
}