@font-face {
    font-family: 'custom';
    src: url('../fonts/Rajdhani-Regular.ttf');
}

* {
    font-family: 'custom';
    box-sizing: border-box;
}

body {
    background: rgba(44, 44, 44, 0.80);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4a90e2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.filters {
    width: 100%;
}

.filters form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.description {
    font-size: 0.8rem;
    color: #fff;
    margin-left: 5px;
    background-color: #333;
    width: 100%;
    padding: 2px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #4a90e2;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #357ab7;
    transform: translateY(-2px);
}

.results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.result-card {
    position: relative;
    text-align: center;
    flex: 0 1 calc(100% - 20px);
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.result-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.result-content {
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
}

.result-title {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: bold;
}

.result-stats {
    display: flex;
    justify-content: space-around;
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    gap: 5px;
}

.result-stat {
    flex: 1;
    text-align: center;
    padding: 5px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
}

.stat-label {
    font-weight: bold;
    display: block;
}

/* Styles for the toggle bar and extra info */
.toggle-bar {
    cursor: pointer;
    color: #333;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.toggle-bar:hover {
    background-color: #333;
    color: #fff;
}

.toggle-icon {
    margin-right: 5px;
}

.extra-info {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.extra-info p {
    margin: 0;
    padding: 5px 0;
}

.image-icon {
  width: 30%;
  border-radius: 50%;
}
